body {
  background: #555;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: aliceblue;
}

.yellow {
  color: #ffcb05;
}

.small {
  font-size: small;
}

/* layout filter pokemon */
.form-control {
  text-align: center;
  display: inline-block;
  margin: 14px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 230px;
  }

.hidden {
  display:none;
}