body {
  background: #555;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: aliceblue;
  margin-top: 10px;
}

.yellow {
  color: #ffcb05;
}

.text {
  color: aliceblue;
}

a {
  color: #c3e6cb;
}

a:hover {
  color: #ffcb05;
}

.small {
  font-size: small;
}

/* layout filter pokemon */
.form-control {
  text-align: center;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0;
  max-width: 300px;
  min-width: 250px;
  margin: 8px auto;
}

.col-3 {
  padding: 0;
  min-width: 250px;
}

.hidden {
  display: none;
}
